h1 {
  color: lightseagreen;
}

.task-name {
  font-weight: bold;
  color: cadetblue;
}

.task-action {
  cursor: pointer;
}

.task-completed {
  color: gray;
  text-decoration: line-through;
}

.task-pending {
  color: orangered;
  font-weight: bold;
}

:root {
  color-scheme: light dark;
}
